extends ../layout

block content
	div.navegacao.left(onclick="window.location = '" + consultaAnterior + "'")
		span.icon-arrow-left

	div.navegacao.right(onclick="window.location = '" + proximaConsulta + "'")
		span.icon-arrow-right

	div.conteudo.center
		h1= titulo

		input(type="button", onclick="window.location = '/lancamento/incluir'", value="Incluir")

		table(cellpadding="0", cellspacing="0")
			thead
				tr
					td
						span.icon-calendar.
						| DATA
					td
						span.icon-attachment
						| NF/CF/RECIBO
					td
						span.icon-pencil
						| DESCRIÇÃO
					td
						span.icon-coins
						| VALOR

			tbody
				- if (lancamentos.length == 0)
					td(colspan="4") Nenhum lançamento encontrado

				-else
					- each lancamento in lancamentos
						tr
							td= lancamento.data
							td= lancamento.finalidade
							td= lancamento.detalhesDaCompra
							td(class=lancamento.natureza == "Receita" ? "credito" : "debito")= lancamento.valor

			tfoot
				tr
					td
					td
					td
					td Débito
						span.resultado= caixa.despesa
				tr
					td
					td
					td
					td Saldo
						span.resultado= caixa.receita