extends ../layout

block content
	p
		a(href="/lancamento/incluir") Incluir

	p
		a(href=consultaAnterior) < Anterior

	p
		a(href=proximaConsulta) Próximo >

	table
		thead
			tr
				td Data
				td Finalidade
				td Detalhes da compra
				td Valor

		tbody
			- if (lancamentos.length == 0)
				td(colspan="4") Nenhum lançamento encontrado

			-else
				- each lancamento in lancamentos
					tr
						td= lancamento.data
						td= lancamento.finalidade
						td= lancamento.detalhesDaCompra
						td(class=lancamento.natureza == "Receita" ? "receita" : "despesa")= lancamento.valor

		tfoot
			tr
				td(colspan="3") Receita
				td(class="receita")= caixa.receita
			tr
				td(colspan="3") Despesa
				td(class="despesa")= caixa.despesa
			tr
				td(colspan="3") Total
				td= caixa.total